@use "tailwindcss";

:root {
  --wm-bg-color: #f2f3f5;
  --wm-t-indigo: #303133;
  --wm-footer-height: 50px;
  --wm-header-height: 50px;
  --wm-zoom: 1;
}

/* 基础样式 */
body,
html {
  color: var(--wm-t-indigo);
  line-height: 1.5;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  height: 100%;
}

body {
  background-color: var(--wm-bg-color);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  background-attachment: fixed;
}

/* 通用容器样式 */
.wmm-wrap {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 15px;
}

/* 头部样式 */
.wmm-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: var(--wm-header-height);
  background-color: #122a32;
  color: #d0d4d6;
  font-size: 16px;
  line-height: 24px;

  .wmm-wrap {
    height: 100%;
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) center;
    background-size: auto 100%;
  }
}

/* 主体样式 */
.wmm-main {
  padding: 0;
  margin: 0;
}

/* 页脚样式 */
.wmm-footer {
  height: var(--wm-footer-height);
  line-height: var(--wm-footer-height);
  padding: 0;
  margin: 0;
  text-align: center;
}

.wmm-h-full {
  height: calc(100vh - 126px);
}

.wmm-catalogue.markdown-body {
  padding-bottom: 10px;

  ul, ol {
    list-style: lower-roman;
  }

  & > ul,
  & > ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }



  h4 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 10px;
  }
}

.wmm-post-body.markdown-body .highlight pre,
.wmm-post-body.markdown-body pre {
  padding: 0;
}

.wmm-post-body ul,
.wmm-post-body ol {
  list-style: circle;
}
